$background-color: #DFD5B8;
$text-color: #000;
$link-color: #4A3C15;
$link-active-color: #BB3648;

// Messages
$success-color: rgb(78, 149, 75);
$success-text-color: #fff;
$warning-color: rgb(255, 164, 28);
$warning-text-color: #000;
$error-color: rgb(172, 43, 43);
$error-text-color: #fff;

// Breakpoints
$md: 600px;
$lg: 900px;
$xl: 1100px;

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-color;
  color: $text-color;
}

a {
  color: $link-color;
}

main {
  padding: 1em;
}

@import 'header';
@import 'messages';
@import 'inputs';
@import 'login';
