<header class="page-header">
  <a href="/" class="logo-text">Bigfoot Marketing</a>
  <a href="#" class="mobile-nav-toggle"></a>
  <nav class="main-nav">
    <a href="/graphics" class="active">Graphics</a>
    <a href="/login">Log In</a>
  </nav>
</header>

{{#if messages}}
  <ul class="messages-list">
  {{#each messages}}
    <li class="message message--{{type}}">
      <span class="message-text">{{text}}</span>
      <a href="#" class="message-close">&times;</a>
    </li>
  {{/each}}
  </ul>
{{/if}}