<!DOCTYPE html>
<html>
  <head>
    <title>Bigfoot Marketing / Graphics</title>
    {{>head}}
  </head>

  <body>
    {{>header}}

    This is from the info page template.

    {{>footer}}
  </body>
</html>