*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #DFD5B8;
  color: #000; }

a {
  color: #4A3C15; }

main {
  padding: 1em; }

.page-header {
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between; }

.logo-text {
  font-size: 1.4em;
  font-weight: bold;
  text-decoration: none;
  color: #000; }

.mobile-nav-toggle {
  width: 32px;
  height: 32px;
  background-color: red;
  border-radius: 50%; }
  @media (min-width: 600px) {
    .mobile-nav-toggle {
      display: none; } }

.main-nav {
  display: none;
  flex-basis: 100%;
  flex-direction: column;
  text-align: center;
  margin-top: 1em; }
  .main-nav.active {
    display: flex; }
  @media (min-width: 600px) {
    .main-nav {
      margin: 0;
      padding: 0 1em;
      display: flex;
      flex-basis: unset;
      flex-direction: row; } }

.main-nav a {
  padding: 0.75em 0; }
  .main-nav a.active {
    color: #BB3648;
    font-weight: bold;
    text-decoration: none; }
  .main-nav a:not(:last-child) {
    border-bottom: 1px dotted #bfab72; }
  @media (min-width: 600px) {
    .main-nav a:not(:last-child) {
      margin-right: 1em;
      border: 0; } }

.message {
  padding: 1em;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .message:not(:last-child) {
    margin-bottom: 0.5em; }

.message-close {
  text-decoration: none;
  font-size: 1.4em;
  font-weight: bold;
  width: 32px;
  height: 32px;
  text-align: center;
  border-radius: 50%; }

.message--success {
  background-color: #4e954b;
  color: #fff; }
  .message--success .message-close {
    color: #2a5129; }
    .message--success .message-close:hover {
      background-color: #3c733a;
      color: #fff; }

.message--warning {
  background-color: #ffa41c;
  color: #000; }
  .message--warning .message-close {
    color: #b56c00; }
    .message--warning .message-close:hover {
      background-color: #e88b00;
      color: #000; }

.message--error {
  background-color: #ac2b2b;
  color: #fff; }
  .message--error .message-close {
    color: #5a1717; }
    .message--error .message-close:hover {
      background-color: #832121;
      color: #fff; }

input[type="text"],
input[type="password"] {
  border: 1px solid #bfab72;
  background-color: transparent;
  width: 100%;
  color: #000;
  padding: 0.5em; }

.login-form {
  max-width: 400px;
  margin: 0 auto; }
