<!DOCTYPE html>
<html>
  <head>
    <title>Bigfoot Marketing / Graphics</title>
    {{>head}}
  </head>

  <body>
    {{>header}}

    <form action="/login" method="post">
      <label for="email">
      <input type="text" name="email">

      <label for="password">
      <input type="password" name="password">

      <input type="submit">
    </form>

    {{>footer}}
  </body>
</html>
