<!DOCTYPE html>
<html>
  <head>
    <title>Bigfoot Marketing / Graphics</title>
    {{>head}}
  </head>

  <body>
    {{>header}}

    This is from the info page template.

    <form action="/graphics/projects/new" method="POST">

      <h2>Contact Info</h2>

      <label for="user-name">Name</label>
      <input type="text" name="user-name">

      <label for="user-email">Email</label>
      <input type="email" name="user-email">

      <label for="user-phone">Phone</label>
      <input type="tel" name="user-phone">

      <h2>Project Info</h2>

      <label for="project-name">Event/Project Name</label>
      <input type="text" name="project-name">

      <label for="project-event-date">Event Date</label>
      <input type="date" name="project-event-date">

      <label for="project-due-date">Needed By</label>
      <input type="date" name="project-due-date">

      <label for="project-details">Details</label>
      <textarea name="project-details"></textarea>

      <h2>Formats</h2>

      <div class="formats-list">
        <select>
          {{#each formats}}
            <option value="{{id}}">{{name}}</option>
          {{/each}}
        </select>
        <input type="button" value="Add Format">
      </div>

      <input type="submit" value="Submit Project">
    </form>

    {{>footer}}
  </body>
</html>
