<!DOCTYPE html>
<html>
  <head>
    <title>Bigfoot Marketing / Graphics</title>
    {{>head}}
  </head>

  <body>
    {{>header}}

    <main>
      Hello, this is the homepage.
    </main>

    {{>footer}}
  </body>
</html>
