<!DOCTYPE html>
<html lang="en">
<head>
  {{>head}}
  <title>Page Not Found</title>
</head>
<body>
  <main>
    That page was not found.

    <a href="/">Back to home page</a>
  </main>
</body>
</html>